.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 185, 168);
    height: 94vh;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}
.content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    background: linear-gradient(blue,rgb(3, 33, 58));
/*     height: 410px;
    width: 500px; */
    margin: 50px 0px 0px 485px;
    border-radius: 20px;
}
.content1 {
    text-align: center;
    background: linear-gradient(blue,rgb(3, 33, 58));
    height: 410px;
    width: 500px;
    margin-left: 430px;
    text-align: center;
    border-radius: 20px;
}
.top{
    background-color: black;
    color: white;
}
 
#out{
    color: white;
}
#siva{
    padding: 10px;
    background-color: brown;
}
#siva:hover{
    padding: 10px;
    background-color: red;
    text-decoration: underline;
}
.btn{
    background-color: yellow;
    color: black;
    padding: 1px;
}
/* .btn:hover{
    border: solid 3px red;
    border-radius: 20px; 
    background-color: aqua;
} */
.gym h3{
    /* background-color: aqua; */
    margin: 20px 0px 0px 50px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background: radial-gradient(yellow,red);
    border: solid 5px black;
    color: white;
    
    
}
.gym h3:hover {
    color: black;
    /* border: double 5px yellow; */
    background: linear-gradient(white,rgb(5, 66, 38));
    
}

@media only screen and (max-width: 414px)
{
    .content {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 10px;
        text-align: center;
        background: linear-gradient(blue,rgb(3, 33, 58));
        /* height: ; */
/*         width: 250px; */
        margin: auto;
        border-radius: 20px;
    
} 
    
}
